@import "reset";
@import "normalize";

/*
* Vars
*/

$black: #000;
$white: #FFF;
$lighter_grey: #D7D7D7;
$light_grey: #B1B1B1;
$border_grey: #E1E4E8;
$med_grey: #666;
$dark_grey: #403E41;
$red: darken(#efbac9, 10%);
$accent_red: #E98176;
$accent: #31A3FA;
$bg_grey: #FAFBFC;
$disabled_blue: #7B95B0;

/*
* Imports
*/

@import "css3";
@import "button";
@import "input";
@import "range_slider";

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  padding: 0;
  padding-bottom: 45px;
}

.page {
  background-color: #FFF;
	width: 100%;
}

.conversations {

  .conversations-header {
    @extend .clearfix;

    border-bottom: 1px solid #DDD;
    padding: 25px;

    h2 {
      float: left;
    }

    i {
      float: right;
      font-size: 30px;

      &:hover {
        color: $accent;
        cursor: pointer;
      }
    }
  }

	.conversations-list {
    list-style-type: none;

		li {
      @extend .clearfix;

      border-bottom: 1px solid #EEE;
      padding: 25px 15px;
      width: 100%;

      .conversation-profile-pic {
        float: left;
        height: 52px;
        width: 52px;

        img {
          height: 50px;
          width: 50px;
        }
      }

      .conversation-content {
        padding-left: 80px;

        h3 {
          margin-bottom: 5px;
        }

        p {
          color: #888;
        }
      }

      &:hover {
        background-color: #EEE;
        cursor: pointer;
      }
		}
	}
}

.messages {
	display: none;
  position: relative;

  .messages-header {
    border-bottom: 1px solid #DDD;
    padding: 25px;

    i {
      color: #000;
      float: left;
      font-size: 24px;
      margin-right: 25px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .messages-banner-container {
    border: 1px solid #DDD;
    border-radius: 5px;
    margin: 15px;
    padding: 30px;
    text-align: center;

    .messages-banner-participants-33, .messages-banner-participants-default {
      display: none;

      > i {
        font-size: 50px;
        margin: 50px 0;
      }
    }

    .messages-banner {
      @extend .clearfix;

      margin: 0 auto;
      max-width: 400px;

      .messages-banner-participants {
        @extend .clearfix;

        list-style-type: none;

        li {
          float: left;
          text-align: center;
          width: 50%;

          .avatar {
            display: inline-block;
            height: 75px;
            margin-right: 15px;
            width: 75px;

            img {
              height: 75px;
              width: 75px;
            }
          }

          .messages-banner-participant-amount {

            span {
              display: block;
            }
          }
        }
      }

      .messages-banner-expiration {
        color: $light_grey;
        margin-top: 30px;
      }
    }
  }

  .messages-list {
    list-style-type: none;
    margin-bottom: 75px;
    width: 100%;

    .messages-list-33, .messages-list-default {
      display: none;
    }

    li {
      @extend .clearfix;

      padding: 15px 15px 0 15px;

      i {
        display: none;
      }

      .message-content {
        border-radius: 5px;
        line-height: 18px;
        max-width: 300px;
        padding: 10px;
        width: 100%;
      }

      li:first-child {
        padding-top: 15px;
      }

      li:last-child {
        padding-bottom: 15px;
      }

      &:hover {

        i {
          display: inline-block;
        }
      }
    }

    li.message-right {

      i {
        float: right;
        margin: 10px 10px 0px 0px;
      }

      .message-content {
        background-color: #31A3FA;
        color: #FFF;
        float: right;
      }
    }

    li.message-left {

      i {
        float: left;
        margin: 10px 0 0 10px;
      }

      .message-content {
        background-color: #E6E5EA;
        float: left;
      }
    }
  }

  .messages-content {
    @extend .clearfix;

    background-color: #FFF;
    border-top: 1px solid #DDD;
    bottom: 0;
    font-size: 18px;
    padding: 15px;
    position: fixed;
    width: 100%;

    input {
      border: 0;
      width: 100%;

      &:focus {
        outline: 0;
      }
    }

    .messages-send {
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }
}

.create-conversation, .create-conversation-start, .create-conversation-complete, .create-conversation-expiration, .confirm-conversation  {
  display: none;

  .create-conversation-header {
    padding: 25px;
    text-align: center;
  }

  .create-conversation-body {
    padding: 0 25px 25px 25px;
    text-align: center;

    input {
      max-width: 500px;
      width: 100%;
      display: block;
      margin: 0 auto 15px auto;
    }

    p {
      margin-bottom: 25px;
    }

    .create-conversation-body-expiration-time {
      color: $light_grey;
      line-height: 25px;
    }
  }

  .create-conversation-controls {
    bottom: 0;
    text-align: right;
    padding: 25px;
    position: absolute;
    width: 100%;

    button {
      margin-left: 15px;
    }
  }
}

.create-conversation {

}

.avatar {
  border: 1px solid #DDD;
  border-radius: 50%;
  height: 52px;
  position: relative;
  width: 52px;

  img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    vertical-align: middle;
  }
}


/*
 *  Clearfix for modern browsers(IE 8+)
 */

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}